In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report
# from xgboost import XGBClassifier
RANDOM_STATE = 42

First I imported the data and investigated it. I found that I could merge my target and variables using the id column.

In [2]:
df = pd.read_csv('../Data/Training_set_values.csv')
target = pd.read_csv('../Data/Training_set_target.csv')

In [4]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [3]:
target.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [5]:
df, X_hold, target, y_hold = train_test_split(df, target, test_size=.1,
                                                    random_state=RANDOM_STATE)

In [6]:
cleaning_df = df.merge(target)

In [7]:
cleaning_df.status_group.value_counts()

functional                 29062
non functional             20506
functional needs repair     3892
Name: status_group, dtype: int64

In [8]:
cleaning_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,31080,0.0,2012-10-10,Dwe,0,WEDECO,33.179596,-4.214966,Hospitali,0,...,coloured,colored,insufficient,insufficient,dam,dam,surface,dam,dam,functional
1,17282,50.0,2013-02-16,Jaica,-33,Tasaf,40.322805,-10.456297,Kwa Bakari Ismail,0,...,salty,salty,enough,enough,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
2,72545,0.0,2011-03-20,Dhv,298,DWE,36.353508,-8.780099,Kwa Mgirigiti,0,...,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,other,other,non functional
3,44490,0.0,2012-10-12,Rwssp,0,RWSSP,33.071249,-3.803178,Ujamaa,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other,non functional
4,67816,5.0,2013-02-04,Ces (gmbh),1088,DWE,37.271938,-3.283501,Kwa Richard Simon Chami,0,...,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional

I looked through all of the value counts for every column to find out which columns have data I am going to want to use. For instance: medium variety, low null value count, checking for null replacement values etc.

In [9]:
results = []
for column in cleaning_df.columns.to_list():
    results.append({column : cleaning_df[column].value_counts()})
results

[{'id': 0        1
  11951    1
  65013    1
  58870    1
  60919    1
          ..
  27352    1
  25305    1
  31450    1
  29403    1
  2047     1
  Name: id, Length: 53460, dtype: int64},
 {'amount_tsh': 0.0         37474
  500.0        2791
  50.0         2239
  20.0         1344
  1000.0       1311
              ...
  5400.0          1
  200000.0        1
  53.0            1
  26.0            1
  59.0            1
  Name: amount_tsh, Length: 96, dtype: int64},
 {'date_recorded': 2011-03-17    511
  2013-02-03    501
  2011-03-15    500
  2011-03-14    480
  2011-03-16    446
               ...
  2011-09-15      1
  2002-10-14      1
  2011-09-19      1
  2011-09-12      1
  2011-08-30      1
  Name: date_recorded, Length: 354, dtype: int64},
 {'funder': Government Of Tanzania    8156
  Danida                    2799
  Hesawa                    1999
  Rwssp                     1229
  World Bank                1208
                            ...
  Serian                       1
  Worldvision                  1
  Rc Njoro                     1
  Igolola Community            1
  Kadip                        1
  Name: funder, Length: 1788, dtype: int64},
 {'gps_height':  0       18313
  -15         57
  -16         50
   1290       48
  -14         48
           ...
   2376        1
   2344        1
   2312        1
   2280        1
   2250        1
  Name: gps_height, Length: 2414, dtype: int64},
 {'installer': DWE                   15666
  Government             1616
  RWE                    1093
  Commu                   954
  DANIDA                  941
                        ...
  Perusi Bhoke              1
  Indiv                     1
  Mzung                     1
  VITECOS INVEST            1
  MACK DONALD CO LTD        1
  Name: installer, Length: 2036, dtype: int64},
 {'longitude': 0.000000     1621
  37.252194       2
  33.010510       2
  39.096123       2
  37.281357       2
               ...
  36.916795       1
  36.853035       1
  34.699607       1
  35.299822       1
  35.164770       1
  Name: longitude, Length: 51784, dtype: int64},
 {'latitude': -2.000000e-08    1621
  -7.102004e+00       2
  -6.994704e+00       2
  -6.963565e+00       2
  -7.056372e+00       2
                   ...
  -1.041107e+01       1
  -2.015272e+00       1
  -6.151971e+00       1
  -9.348373e+00       1
  -1.077290e+01       1
  Name: latitude, Length: 51786, dtype: int64},
 {'wpt_name': none                          3221
  Shuleni                       1555
  Zahanati                       738
  Msikitini                      478
  Kanisani                       299
                                ...
  Kwa Lugano Mwakigonjola          1
  Kwa Mzee Isihaka Kimwamule       1
  Lb 7                             1
  Nzaza                            1
  Elton Kaogo                      1
  Name: wpt_name, Length: 34085, dtype: int64},
 {'num_private': 0      52778
  6         69
  1         64
  5         41
  8         40
         ...
  131        1
  450        1
  672        1
  160        1
  94         1
  Name: num_private, Length: 64, dtype: int64},
 {'basin': Lake Victoria              9196
  Pangani                    8067
  Rufiji                     7159
  Internal                   6992
  Lake Tanganyika            5805
  Wami / Ruvu                5390
  Lake Nyasa                 4582
  Ruvuma / Southern Coast    4062
  Lake Rukwa                 2207
  Name: basin, dtype: int64},
 {'subvillage': Shuleni            464
  Madukani           454
  Majengo            451
  Kati               345
  Mtakuja            226
                    ...
  Nyasosi A            1
  Kabaganga A          1
  Kiwanda Wenyeji      1
  Msingeni             1
  Kaunyala             1
  Name: subvillage, Length: 18283, dtype: int64},
 {'region': Iringa           4770
  Shinyanga        4469
  Mbeya            4161
  Kilimanjaro      3942
  Morogoro         3617
  Arusha           3027
  Kagera           2970
  Mwanza           2794
  Kigoma           2533
  Ruvuma           2387
  Pwani            2376
  Tanga            2296
  Dodoma           1947
  Singida          1885
  Tabora           1773
  Mara             1765
  Rukwa            1630
  Mtwara           1565
  Manyara          1425
  Lindi            1394
  Dar es Salaam     734
  Name: region, dtype: int64},
 {'region_code': 11    4775
  17    4495
  12    4161
  3     3942
  5     3644
  18    2977
  19    2743
  2     2733
  16    2533
  10    2387
  4     2269
  1     1947
  13    1885
  14    1793
  20    1765
  15    1630
  6     1444
  21    1425
  80    1119
  60     931
  90     824
  7      734
  99     388
  9      353
  24     294
  8      268
  40       1
  Name: region_code, dtype: int64},
 {'district_code': 1     10997
  2     10100
  3      8981
  4      8054
  5      3908
  6      3689
  7      3005
  8       931
  30      888
  33      779
  53      669
  43      459
  13      354
  23      269
  63      180
  62      100
  60       60
  0        22
  80       10
  67        5
  Name: district_code, dtype: int64},
 {'lga': Njombe          2248
  Arusha Rural    1134
  Moshi Rural     1128
  Bariadi         1060
  Kilosa           996
                  ...
  Songea Urban      72
  Kigoma Urban      61
  Arusha Urban      60
  Lindi Urban       21
  Nyamagana          1
  Name: lga, Length: 125, dtype: int64},
 {'ward': Igosi        276
  Imalinyi     223
  Siha Kati    212
  Mdandu       206
  Nduruma      190
              ...
  Nyamtinga      1
  Mlimani        1
  Laghanga       1
  Matarawe       1
  Bureza         1
  Name: ward, Length: 2089, dtype: int64},
 {'population': 0       19189
  1        6358
  200      1731
  150      1711
  250      1530
          ...
  1015        1
  887         1
  424         1
  823         1
  1439        1
  Name: population, Length: 1009, dtype: int64},
 {'public_meeting': True     45885
  False     4581
  Name: public_meeting, dtype: int64},
 {'recorded_by': GeoData Consultants Ltd    53460
  Name: recorded_by, dtype: int64},
 {'scheme_management': VWC                 33147
  WUG                  4666
  Water authority      2839
  WUA                  2595
  Water Board          2475
  Parastatal           1519
  Private operator      960
  Company               950
  Other                 690
  SWC                    85
  Trust                  65
  None                    1
  Name: scheme_management, dtype: int64},
 {'scheme_name': K                             610
  None                          572
  Borehole                      489
  Chalinze wate                 366
  M                             357
                               ...
  Mradi wa maji wa mbinu mha      1
  Kibafutwa Water Supp            1
  Ndimira                         1
  Mradi wa maji wa izia           1
  BL Somali                       1
  Name: scheme_name, Length: 2629, dtype: int64},
 {'permit': True     34949
  False    15757
  Name: permit, dtype: int64},
 {'construction_year': 0       18575
  2010     2402
  2008     2384
  2009     2275
  2000     1893
  2007     1444
  2006     1327
  2003     1161
  2011     1133
  2004     1005
  2012      990
  2002      962
  1978      944
  1995      913
  2005      902
  1999      884
  1990      872
  1998      857
  1985      849
  1980      740
  1996      720
  1984      708
  1982      669
  1994      660
  1972      637
  1974      603
  1997      580
  1992      574
  1993      552
  2001      485
  1988      464
  1983      432
  1986      399
  1975      390
  1976      362
  1970      358
  1991      289
  1989      278
  1987      269
  1981      208
  1977      187
  1979      173
  1973      166
  2013      158
  1971      127
  1960       98
  1967       85
  1963       82
  1968       67
  1969       53
  1964       36
  1962       28
  1961       19
  1965       18
  1966       14
  Name: construction_year, dtype: int64},
 {'extraction_type': gravity                      24114
  nira/tanira                   7342
  other                         5782
  submersible                   4331
  swn 80                        3298
  mono                          2546
  india mark ii                 2173
  afridev                       1577
  ksb                           1260
  other - rope pump              409
  other - swn 81                 203
  windmill                       102
  india mark iii                  87
  cemo                            79
  other - play pump               78
  walimi                          46
  climax                          31
  other - mkulima/shinyanga        2
  Name: extraction_type, dtype: int64},
 {'extraction_type_group': gravity            24114
  nira/tanira         7342
  other               5782
  submersible         5591
  swn 80              3298
  mono                2546
  india mark ii       2173
  afridev             1577
  rope pump            409
  other handpump       329
  other motorpump      110
  wind-powered         102
  india mark iii        87
  Name: extraction_type_group, dtype: int64},
 {'extraction_type_class': gravity         24114
  handpump        14806
  other            5782
  submersible      5591
  motorpump        2656
  rope pump         409
  wind-powered      102
  Name: extraction_type_class, dtype: int64},
 {'management': vwc                 36485
  wug                  5850
  water board          2648
  wua                  2275
  private operator     1757
  parastatal           1595
  water authority       816
  other                 756
  company               614
  unknown               502
  other - school         90
  trust                  72
  Name: management, dtype: int64},
 {'management_group': user-group    47258
  commercial     3259
  parastatal     1595
  other           846
  unknown         502
  Name: management_group, dtype: int64},
 {'payment': never pay                22848
  pay per bucket            8121
  pay monthly               7434
  unknown                   7314
  pay when scheme fails     3526
  pay annually              3261
  other                      956
  Name: payment, dtype: int64},
 {'payment_type': never pay     22848
  per bucket     8121
  monthly        7434
  unknown        7314
  on failure     3526
  annually       3261
  other           956
  Name: payment_type, dtype: int64},
 {'water_quality': soft                  45739
  salty                  4382
  unknown                1683
  milky                   711
  coloured                443
  salty abandoned         299
  fluoride                189
  fluoride abandoned       14
  Name: water_quality, dtype: int64},
 {'quality_group': good        45739
  salty        4681
  unknown      1683
  milky         711
  colored       443
  fluoride      203
  Name: quality_group, dtype: int64},
 {'quantity': enough          29861
  insufficient    13633
  dry              5605
  seasonal         3662
  unknown           699
  Name: quantity, dtype: int64},
 {'quantity_group': enough          29861
  insufficient    13633
  dry              5605
  seasonal         3662
  unknown           699
  Name: quantity_group, dtype: int64},
 {'source': spring                  15300
  shallow well            15146
  machine dbh              9981
  river                    8688
  rainwater harvesting     2065
  hand dtw                  774
  lake                      676
  dam                       574
  other                     194
  unknown                    62
  Name: source, dtype: int64},
 {'source_type': spring                  15300
  shallow well            15146
  borehole                10755
  river/lake               9364
  rainwater harvesting     2065
  dam                       574
  other                     256
  Name: source_type, dtype: int64},
 {'source_class': groundwater    41201
  surface        12003
  unknown          256
  Name: source_class, dtype: int64},
 {'waterpoint_type': communal standpipe             25696
  hand pump                      15750
  other                           5733
  communal standpipe multiple     5463
  improved spring                  707
  cattle trough                    105
  dam                                6
  Name: waterpoint_type, dtype: int64},
 {'waterpoint_type_group': communal standpipe    31159
  hand pump             15750
  other                  5733
  improved spring         707
  cattle trough           105
  dam                       6
  Name: waterpoint_type_group, dtype: int64},
 {'status_group': functional                 29062
  non functional             20506
  functional needs repair     3892
  Name: status_group, dtype: int64}]

Using the info I found digging through these results I found which columns needed to be dropped altogether and which needed some cleaning. So I dropped the columns, replaced some null value replacement values with actual null values and dropped them all. Then I replaced the rest of the replacement values with the mean.

In [5]:
to_drop = ['scheme_name', 'amount_tsh', 'num_private', 'recorded_by', 'extraction_type', 'payment',
           'quality_group','quantity_group', 'region', 'waterpoint_type_group']
cleaning_df.drop(to_drop, axis=1, inplace=True)
cleaning_df['longitude'].replace({0 : np.NaN}, inplace=True)
cleaning_df['wpt_name'].replace({'none' : np.NaN}, inplace=True)
cleaning_df['scheme_management'].replace({'None' : np.NaN}, inplace=True)

cleaning_df.dropna(inplace=True)

In [6]:
replace_columns = ['construction_year', 'population']
for column in replace_columns:
    this_mean = round(cleaning_df[column][cleaning_df[column] != 0].mean())
    cleaning_df[column].replace({0 : this_mean}, inplace=True)

I next changed my target to intergers in order to run a classification model against the data. I also combined 'functional needs repair' and 'functional' so it is binary.

In [7]:
needs_repair_ids = cleaning_df['id'][cleaning_df['status_group'] == 'functional needs repair']
cleaning_df['status_group'].replace({'functional needs repair': 'functional'}, inplace=True)
target = cleaning_df['status_group']
preprocessed_df = cleaning_df.drop('status_group', axis=1)

In [9]:
target.replace({'functional' : 1 , 'non functional' : 0}, inplace=True)

I split my variables into categorical and continuous so I am able to then One Hot Encode my categorical data and concat my continuous back onto for my processed_df. I then save all my individual datasets in order to access them in other notebooks.

In [7]:
categorical = ['basin', 'public_meeting', 'scheme_management', 'permit',
               'extraction_type_group', 'extraction_type_class', 'management',
               'management_group', 'payment_type', 'water_quality', 'quantity',
               'source_type', 'source_class', 'waterpoint_type']
continuous = ['id', 'gps_height', 'longitude', 'latitude', 'region_code', 'district_code', 'population', 'construction_year']

In [11]:
categorical_df = preprocessed_df[categorical]
continuous_df = preprocessed_df[continuous]
dummy_df = pd.get_dummies(categorical_df)
processed_df = pd.concat([continuous_df, dummy_df], axis=1)

In [12]:
# processed_df.to_csv('../Data/processed_varibles.csv', index=False)
# target.to_csv('../Data/processed_target.csv', index=False)
# needs_repair_ids.to_csv('../Data/needs_repair_ids.csv', index=False)
# X_hold.to_csv('../Data/varibles_hold.csv', index=False)
# y_hold.to_csv('../Data/target_hold.csv', index=False)