In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report
# from xgboost import XGBClassifier
RANDOM_STATE = 42

First I imported the data and investigated it. I found that I could merge my target and variables using the id column.

In [2]:
df = pd.read_csv('../Data/Training_set_values.csv')
target = pd.read_csv('../Data/Training_set_target.csv')

In [3]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [4]:
target.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [5]:
df, X_hold, target, y_hold = train_test_split(df, target, test_size=.1,
                                                    random_state=RANDOM_STATE) 
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=.2, random_state=RANDOM_STATE)

In [6]:
cleaning_df = X_train.merge(y_train)
test_df = X_test.merge(y_test)

In [7]:
cleaning_df.status_group.value_counts()

functional                 23312
non functional             16382
functional needs repair     3074
Name: status_group, dtype: int64

In [8]:
cleaning_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,45513,0.0,2012-11-03,Hesawa,0,DWE,0.000000,-2.000000e-08,none,0,...,soft,good,dry,dry,shallow well,shallow well,groundwater,hand pump,hand pump,non functional
1,11765,0.0,2012-10-22,World Bank,0,JUIN CO,33.523490,-3.438365e+00,Msikitini,0,...,unknown,unknown,unknown,unknown,machine dbh,borehole,groundwater,communal standpipe,communal standpipe,non functional
2,50654,50.0,2011-03-17,Idc,673,DWE,35.771341,-7.159651e+00,none,0,...,salty,salty,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
3,24660,0.0,2011-07-13,He,0,HE,31.613434,-1.816216e+00,Kwa Yazid S,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,non functional
4,6705,500.0,2013-02-11,Government Of Tanzania,1272,Government,30.132212,-4.242582e+00,Kwa Kenyene,0,...,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional

I looked through all of the value counts for every column to find out which columns have data I am going to want to use. For instance: medium variety, low null value count, checking for null replacement values etc.

In [9]:
results = []
for column in cleaning_df.columns.to_list():
    results.append({column : cleaning_df[column].value_counts()})
results

[{'id': 0        1
  64202    1
  56014    1
  53967    1
  8052     1
          ..
  65288    1
  71080    1
  7593     1
  1450     1
  67583    1
  Name: id, Length: 42768, dtype: int64},
 {'amount_tsh': 0.0         29925
  500.0        2259
  50.0         1799
  20.0         1086
  1000.0       1049
              ...
  53.0            1
  26.0            1
  70000.0         1
  250000.0        1
  220.0           1
  Name: amount_tsh, Length: 90, dtype: int64},
 {'date_recorded': 2011-03-17    417
  2013-02-03    399
  2011-03-15    392
  2011-03-14    381
  2011-03-16    359
               ...
  2011-09-15      1
  2004-03-01      1
  2011-09-11      1
  2013-01-01      1
  2011-09-09      1
  Name: date_recorded, Length: 341, dtype: int64},
 {'funder': Government Of Tanzania          6508
  Danida                          2266
  Hesawa                          1610
  Rwssp                            989
  World Bank                       970
                                  ...
  Padi                               1
  Makori                             1
  Unicef/african Muslim Agency       1
  Private Individul                  1
  Abdul                              1
  Name: funder, Length: 1603, dtype: int64},
 {'gps_height':  0       14657
  -15         43
  -13         42
  -16         42
   1290       40
           ...
   2233        1
   2188        1
   2201        1
   2105        1
   2424        1
  Name: gps_height, Length: 2386, dtype: int64},
 {'installer': DWE               12549
  Government         1301
  RWE                 884
  Commu               775
  DANIDA              763
                    ...
  KU                    1
  DESK A                1
  Water aid/sema        1
  RWI                   1
  TWESS                 1
  Name: installer, Length: 1834, dtype: int64},
 {'longitude': 0.000000     1304
  39.095087       2
  39.091434       2
  39.099069       2
  32.972719       2
               ...
  31.350364       1
  32.596841       1
  38.433923       1
  38.748528       1
  37.849808       1
  Name: longitude, Length: 41437, dtype: int64},
 {'latitude': -2.000000e-08    1304
  -2.516619e+00       2
  -2.489378e+00       2
  -6.980216e+00       2
  -2.504294e+00       2
                   ...
  -2.653187e+00       1
  -4.415747e+00       1
  -6.796226e+00       1
  -4.445927e+00       1
  -1.077290e+01       1
  Name: latitude, Length: 41439, dtype: int64},
 {'wpt_name': none                      2570
  Shuleni                   1255
  Zahanati                   577
  Msikitini                  400
  Kanisani                   245
                            ...
  Awadh                        1
  Kwa Apaeli Saru              1
  Kwa Yamaha                   1
  Kwa Lukania Mwaigomole       1
  Kwa Christina Msewa          1
  Name: wpt_name, Length: 28017, dtype: int64},
 {'num_private': 0      42222
  6         55
  1         55
  5         36
  8         33
         ...
  136        1
  131        1
  450        1
  672        1
  94         1
  Name: num_private, Length: 62, dtype: int64},
 {'basin': Lake Victoria              7299
  Pangani                    6462
  Rufiji                     5735
  Internal                   5590
  Lake Tanganyika            4615
  Wami / Ruvu                4316
  Lake Nyasa                 3694
  Ruvuma / Southern Coast    3285
  Lake Rukwa                 1772
  Name: basin, dtype: int64},
 {'subvillage': Shuleni       370
  Madukani      370
  Majengo       357
  Kati          279
  Mtakuja       182
               ...
  Namatunu        1
  Chasenge        1
  Kwemshasha      1
  Songea B        1
  Mletele         1
  Name: subvillage, Length: 16235, dtype: int64},
 {'region': Iringa           3805
  Shinyanga        3600
  Mbeya            3345
  Kilimanjaro      3145
  Morogoro         2912
  Arusha           2428
  Kagera           2340
  Mwanza           2218
  Kigoma           1985
  Ruvuma           1938
  Pwani            1901
  Tanga            1835
  Dodoma           1571
  Singida          1499
  Tabora           1427
  Mara             1402
  Rukwa            1310
  Mtwara           1261
  Manyara          1127
  Lindi            1118
  Dar es Salaam     601
  Name: region, dtype: int64},
 {'region_code': 11    3808
  17    3622
  12    3345
  3     3145
  5     2934
  18    2347
  2     2200
  19    2176
  16    1985
  10    1938
  4     1813
  1     1571
  13    1499
  14    1444
  20    1402
  15    1310
  6     1157
  21    1127
  80     898
  60     743
  90     673
  7      601
  99     312
  9      276
  24     228
  8      213
  40       1
  Name: region_code, dtype: int64},
 {'district_code': 1     8796
  2     8103
  3     7149
  4     6430
  5     3152
  6     2973
  7     2391
  8      744
  30     687
  33     637
  53     539
  43     356
  13     277
  23     218
  63     145
  62      86
  60      52
  0       19
  80       9
  67       5
  Name: district_code, dtype: int64},
 {'lga': Njombe          1780
  Arusha Rural     918
  Moshi Rural      893
  Bariadi          846
  Kilosa           816
                  ...
  Songea Urban      63
  Arusha Urban      53
  Kigoma Urban      44
  Lindi Urban       19
  Nyamagana          1
  Name: lga, Length: 125, dtype: int64},
 {'ward': Igosi         215
  Imalinyi      181
  Siha Kati     167
  Mdandu        167
  Nduruma       159
               ...
  Bukondo         1
  Uchindile       1
  Mbwara          1
  Negero          1
  Kilimilire      1
  Name: ward, Length: 2080, dtype: int64},
 {'population': 0       15377
  1        5076
  150      1381
  200      1377
  250      1249
          ...
  3031        1
  886         1
  363         1
  726         1
  1439        1
  Name: population, Length: 942, dtype: int64},
 {'public_meeting': True     36715
  False     3660
  Name: public_meeting, dtype: int64},
 {'recorded_by': GeoData Consultants Ltd    42768
  Name: recorded_by, dtype: int64},
 {'scheme_management': VWC                 26525
  WUG                  3734
  Water authority      2262
  WUA                  2074
  Water Board          1967
  Parastatal           1212
  Private operator      776
  Company               752
  Other                 564
  SWC                    65
  Trust                  56
  None                    1
  Name: scheme_management, dtype: int64},
 {'scheme_name': K                           500
  None                        466
  Borehole                    385
  Chalinze wate               287
  M                           282
                             ...
  Jihu piped water Scheme       1
  Mhunze water pipe scheme      1
  Naipanga                      1
  Chikombo water supply         1
  v                             1
  Name: scheme_name, Length: 2484, dtype: int64},
 {'permit': True     27905
  False    12623
  Name: permit, dtype: int64},
 {'construction_year': 0       14873
  2010     1931
  2008     1888
  2009     1818
  2000     1525
  2007     1156
  2006     1069
  2003      937
  2011      905
  2012      785
  2002      783
  2004      768
  1978      740
  1995      727
  2005      714
  1990      711
  1999      696
  1998      694
  1985      671
  1980      598
  1996      581
  1984      570
  1994      542
  1982      537
  1972      491
  1974      480
  1992      465
  1997      461
  1993      443
  2001      388
  1988      374
  1983      355
  1986      327
  1975      300
  1976      298
  1970      283
  1991      236
  1987      219
  1989      217
  1981      164
  1977      147
  1979      142
  1973      133
  2013      127
  1971       94
  1960       80
  1963       69
  1967       67
  1968       55
  1969       44
  1964       28
  1962       19
  1961       17
  1965       15
  1966       11
  Name: construction_year, dtype: int64},
 {'extraction_type': gravity                      19261
  nira/tanira                   5891
  other                         4621
  submersible                   3506
  swn 80                        2621
  mono                          2020
  india mark ii                 1750
  afridev                       1272
  ksb                            984
  other - rope pump              332
  other - swn 81                 170
  windmill                        82
  india mark iii                  68
  cemo                            66
  other - play pump               63
  walimi                          36
  climax                          24
  other - mkulima/shinyanga        1
  Name: extraction_type, dtype: int64},
 {'extraction_type_group': gravity            19261
  nira/tanira         5891
  other               4621
  submersible         4490
  swn 80              2621
  mono                2020
  india mark ii       1750
  afridev             1272
  rope pump            332
  other handpump       270
  other motorpump       90
  wind-powered          82
  india mark iii        68
  Name: extraction_type_group, dtype: int64},
 {'extraction_type_class': gravity         19261
  handpump        11872
  other            4621
  submersible      4490
  motorpump        2110
  rope pump         332
  wind-powered       82
  Name: extraction_type_class, dtype: int64},
 {'management': vwc                 29176
  wug                  4712
  water board          2108
  wua                  1807
  private operator     1408
  parastatal           1275
  water authority       659
  other                 615
  company               474
  unknown               403
  other - school         69
  trust                  62
  Name: management, dtype: int64},
 {'management_group': user-group    37803
  commercial     2603
  parastatal     1275
  other           684
  unknown         403
  Name: management_group, dtype: int64},
 {'payment': never pay                18266
  pay per bucket            6502
  pay monthly               5933
  unknown                   5841
  pay when scheme fails     2825
  pay annually              2650
  other                      751
  Name: payment, dtype: int64},
 {'payment_type': never pay     18266
  per bucket     6502
  monthly        5933
  unknown        5841
  on failure     2825
  annually       2650
  other           751
  Name: payment_type, dtype: int64},
 {'water_quality': soft                  36547
  salty                  3537
  unknown                1340
  milky                   563
  coloured                354
  salty abandoned         258
  fluoride                159
  fluoride abandoned       10
  Name: water_quality, dtype: int64},
 {'quality_group': good        36547
  salty        3795
  unknown      1340
  milky         563
  colored       354
  fluoride      169
  Name: quality_group, dtype: int64},
 {'quantity': enough          23908
  insufficient    10920
  dry              4463
  seasonal         2930
  unknown           547
  Name: quantity, dtype: int64},
 {'quantity_group': enough          23908
  insufficient    10920
  dry              4463
  seasonal         2930
  unknown           547
  Name: quantity_group, dtype: int64},
 {'source': spring                  12181
  shallow well            12145
  machine dbh              8002
  river                    6977
  rainwater harvesting     1628
  hand dtw                  627
  lake                      531
  dam                       473
  other                     152
  unknown                    52
  Name: source, dtype: int64},
 {'source_type': spring                  12181
  shallow well            12145
  borehole                 8629
  river/lake               7508
  rainwater harvesting     1628
  dam                       473
  other                     204
  Name: source_type, dtype: int64},
 {'source_class': groundwater    32955
  surface         9609
  unknown          204
  Name: source_class, dtype: int64},
 {'waterpoint_type': communal standpipe             20533
  hand pump                      12629
  other                           4609
  communal standpipe multiple     4378
  improved spring                  532
  cattle trough                     83
  dam                                4
  Name: waterpoint_type, dtype: int64},
 {'waterpoint_type_group': communal standpipe    24911
  hand pump             12629
  other                  4609
  improved spring         532
  cattle trough            83
  dam                       4
  Name: waterpoint_type_group, dtype: int64},
 {'status_group': functional                 23312
  non functional             16382
  functional needs repair     3074
  Name: status_group, dtype: int64}]

Using the info I found digging through these results I found which columns needed to be dropped altogether and which needed some cleaning. So I dropped the columns, replaced some null value replacement values with actual null values and dropped them all. Then I replaced the rest of the replacement values with the mean.

In [10]:
to_drop = ['scheme_name', 'amount_tsh', 'num_private', 'recorded_by', 'extraction_type', 'payment',
           'quality_group','quantity_group', 'region', 'waterpoint_type_group']
for df in [cleaning_df, test_df]:
    df.drop(to_drop, axis=1, inplace=True)
    df['longitude'].replace({0 : np.NaN}, inplace=True)
    df['wpt_name'].replace({'none' : np.NaN}, inplace=True)
    df['scheme_management'].replace({'None' : np.NaN}, inplace=True)
    df.dropna(inplace=True)

In [11]:
replace_columns = ['construction_year', 'population']
for column in replace_columns:
    this_mean = round(cleaning_df[column][cleaning_df[column] != 0].mean())
    cleaning_df[column].replace({0 : this_mean}, inplace=True)
    test_df[column].replace({0 : this_mean}, inplace=True)

I next changed my target to intergers in order to run a classification model against the data. I also combined 'functional needs repair' and 'functional' so it is binary.

In [12]:
needs_repair_ids_train = cleaning_df['id'][cleaning_df['status_group'] == 'functional needs repair']
needs_repair_ids_test = test_df['id'][test_df['status_group'] == 'functional needs repair']
cleaning_df['status_group'].replace({'functional needs repair': 'functional'}, inplace=True)
test_df['status_group'].replace({'functional needs repair': 'functional'}, inplace=True)
target_train = cleaning_df['status_group']
target_test = test_df['status_group']
preprocessed_df_train = cleaning_df.drop('status_group', axis=1)
preprocessed_df_test = test_df.drop('status_group', axis=1)

In [13]:
for target in [target_train, target_test]:
    target.replace({'functional' : 1 , 'non functional' : 0}, inplace=True)

I split my variables into categorical and continuous so I am able to then One Hot Encode my categorical data and concat my continuous back onto for my processed_df. I then save all my individual datasets in order to access them in other notebooks.

In [14]:
categorical = ['basin', 'public_meeting', 'scheme_management', 'permit',
               'extraction_type_group', 'extraction_type_class', 'management',
               'management_group', 'payment_type', 'water_quality', 'quantity',
               'source_type', 'source_class', 'waterpoint_type']
continuous = ['id', 'gps_height', 'longitude', 'latitude', 'region_code', 'district_code', 'population', 'construction_year']

In [15]:
categorical_df_train = preprocessed_df_train[categorical]
continuous_df_train = preprocessed_df_train[continuous]
dummy_df_train = pd.get_dummies(categorical_df_train)
processed_df_train = pd.concat([continuous_df_train, dummy_df_train], axis=1)
categorical_df_test = preprocessed_df_test[categorical]
continuous_df_test = preprocessed_df_test[continuous]
dummy_df_test = pd.get_dummies(categorical_df_test)
processed_df_test = pd.concat([continuous_df_test, dummy_df_test], axis=1)

In [16]:
processed_df_train.to_csv('../Data/processed_varibles_train.csv', index=False)
target_train.to_csv('../Data/processed_target_train.csv', index=False)
needs_repair_ids_train.to_csv('../Data/needs_repair_ids_train.csv', index=False)
processed_df_test.to_csv('../Data/processed_varibles_test.csv', index=False)
target_test.to_csv('../Data/processed_target_test.csv', index=False)
needs_repair_ids_test.to_csv('../Data/needs_repair_ids_test.csv', index=False)
X_hold.to_csv('../Data/varibles_hold.csv', index=False)
y_hold.to_csv('../Data/target_hold.csv', index=False)