In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report
RANDOM_STATE = 42

In [7]:
df = pd.read_csv('../Data/Training_set_values.csv')
target = pd.read_csv('../Data/Training_set_target.csv')

In [ ]:
df.head()

In [ ]:
target.groupby('status_group').count()

In [3]:
df, target, X_hold, y_hold = train_test_split(df, target, test_size=.1,
                                                    random_state=RANDOM_STATE)

In [8]:
cleaning_df = df.merge(target)

In [4]:
target.drop('id', axis=1, inplace=True)

In [9]:
cleaning_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [12]:
cleaning_df.drop('scheme_name', axis=1, inplace=True)

cleaning_df.dropna(inplace=True)

In [13]:
cleaning_df.isna().sum()

id                       0
amount_tsh               0
date_recorded            0
funder                   0
gps_height               0
installer                0
longitude                0
latitude                 0
wpt_name                 0
num_private              0
basin                    0
subvillage               0
region                   0
region_code              0
district_code            0
lga                      0
ward                     0
population               0
public_meeting           0
recorded_by              0
scheme_management        0
permit                   0
construction_year        0
extraction_type          0
extraction_type_group    0
extraction_type_class    0
management               0
management_group         0
payment                  0
payment_type             0
water_quality            0
quality_group            0
quantity                 0
quantity_group           0
source                   0
source_type              0
source_class             0
waterpoint_type          0
waterpoint_type_group    0
status_group             0
dtype: int64

In [14]:
results = []
for column in cleaning_df.columns.to_list():
    results.append({column : cleaning_df[column].value_counts()})

In [15]:
results

[{'id': 4098     1
  31386    1
  53903    1
  10896    1
  8849     1
          ..
  19811    1
  30052    1
  32101    1
  25958    1
  2047     1
  Name: id, Length: 48288, dtype: int64},
 {'amount_tsh': 0.0         32151
  500.0        2787
  50.0         2035
  1000.0       1381
  20.0         1378
              ...
  45000.0         1
  250000.0        1
  220.0           1
  138000.0        1
  38000.0         1
  Name: amount_tsh, Length: 91, dtype: int64},
 {'date_recorded': 2011-03-15    471
  2011-03-17    469
  2013-02-03    467
  2011-03-14    465
  2011-03-16    421
               ...
  2004-04-01      1
  2002-10-14      1
  2004-04-05      1
  2013-01-06      1
  2012-01-21      1
  Name: date_recorded, Length: 324, dtype: int64},
 {'funder': Government Of Tanzania    8080
  Danida                    2920
  Hesawa                    1388
  Kkkt                      1260
  World Bank                1086
                            ...
  Hery                         1
  Pentecostal                  1
  Dwarf                        1
  Afdp                         1
  Haruna Mpog                  1
  Name: funder, Length: 1586, dtype: int64},
 {'gps_height':  0       15783
  -15         50
   1290       47
  -13         43
   1295       43
           ...
   2420        1
   2388        1
   1820        1
   2292        1
   2568        1
  Name: gps_height, Length: 2426, dtype: int64},
 {'installer': DWE                  14637
  Government            1438
  RWE                   1031
  Commu                  893
  KKKT                   885
                       ...
  Mpango wa Mwisa          1
  Village Office           1
  TLC/Jenus Malecha        1
  Said Hashim              1
  JACKSON MAHAMBO          1
  Name: installer, Length: 1787, dtype: int64},
 {'longitude': 0.000000     1326
  32.919861       2
  32.967009       2
  32.987511       2
  32.977191       2
               ...
  33.884992       1
  32.478526       1
  34.285316       1
  31.823527       1
  31.331111       1
  Name: longitude, Length: 46916, dtype: int64},
 {'latitude': -2.000000e-08    1326
  -2.480043e+00       2
  -1.793342e+00       2
  -7.095131e+00       2
  -2.516619e+00       2
                   ...
  -2.577318e+00       1
  -3.362280e+00       1
  -8.954217e+00       1
  -6.422959e+00       1
  -1.077290e+01       1
  Name: latitude, Length: 46918, dtype: int64},
 {'wpt_name': none              3356
  Shuleni           1354
  Zahanati           619
  Msikitini          447
  Bombani            252
                    ...
  Muhoma               1
  Kwa Feri Tabia       1
  Kwa Jull             1
  Mdunya               1
  Soba                 1
  Name: wpt_name, Length: 31030, dtype: int64},
 {'num_private': 0       47567
  6          73
  1          68
  8          46
  5          44
  32         40
  45         36
  15         35
  39         30
  93         28
  3          26
  7          24
  65         22
  47         21
  102        20
  4          19
  2          18
  17         16
  80         15
  20         14
  25         12
  34         10
  41         10
  11         10
  16          8
  120         7
  22          6
  150         6
  12          5
  24          5
  50          5
  9           4
  58          4
  38          4
  10          3
  14          3
  26          2
  27          2
  141         1
  698         1
  1402        1
  35          1
  668         1
  672         1
  62          1
  60          1
  23          1
  280         1
  87          1
  55          1
  213         1
  180         1
  131         1
  755         1
  1776        1
  240         1
  42          1
  94          1
  Name: num_private, dtype: int64},
 {'basin': Pangani                    8540
  Lake Victoria              7319
  Internal                   6155
  Rufiji                     6031
  Lake Tanganyika            5663
  Wami / Ruvu                5127
  Ruvuma / Southern Coast    3675
  Lake Nyasa                 3376
  Lake Rukwa                 2402
  Name: basin, dtype: int64},
 {'subvillage': Majengo       444
  Shuleni       433
  Madukani      388
  Kati          340
  Mtakuja       221
               ...
  Membemembe      1
  Nkungule A      1
  Mwaneli         1
  Vuchange        1
  Gwelo Kaya      1
  Name: subvillage, Length: 16183, dtype: int64},
 {'region': Iringa           5220
  Kilimanjaro      4206
  Shinyanga        3680
  Morogoro         2953
  Kagera           2845
  Arusha           2836
  Kigoma           2774
  Mbeya            2695
  Tanga            2543
  Pwani            2490
  Mwanza           2378
  Ruvuma           2115
  Tabora           1862
  Dodoma           1830
  Rukwa            1741
  Mtwara           1518
  Manyara          1458
  Singida          1040
  Lindi            1005
  Mara              755
  Dar es Salaam     344
  Name: region, dtype: int64},
 {'region_code': 11    5223
  3     4206
  17    3660
  5     2986
  18    2852
  16    2774
  12    2695
  2     2519
  4     2510
  19    2375
  10    2115
  14    1882
  1     1830
  15    1741
  6     1574
  21    1458
  13    1040
  60     915
  90     885
  20     755
  80     701
  9      344
  7      344
  24     317
  8      297
  99     289
  40       1
  Name: region_code, dtype: int64},
 {'district_code': 1     10664
  2      8750
  4      7303
  3      6982
  5      3913
  6      3712
  7      2424
  8      1021
  30      984
  33      845
  53      716
  43      432
  23      290
  63      155
  13       52
  0        23
  62       12
  80       10
  Name: district_code, dtype: int64},
 {'lga': Njombe           2455
  Moshi Rural      1226
  Arusha Rural     1173
  Kilosa           1057
  Kasulu           1039
                   ...
  Tarime             39
  Ilala              36
  Ileje              27
  Singida Rural      17
  Nyamagana           1
  Name: lga, Length: 117, dtype: int64},
 {'ward': Igosi         305
  Imalinyi      250
  Siha Kati     232
  Mdandu        231
  Nduruma       204
               ...
  Ngoheranga      1
  Murray          1
  Chinugulu       1
  Kinungu         1
  Murangi         1
  Name: ward, Length: 1862, dtype: int64},
 {'population': 0       16724
  1        5747
  150      1688
  200      1496
  250      1275
          ...
  171         1
  2314        1
  299         1
  2230        1
  1439        1
  Name: population, Length: 991, dtype: int64},
 {'public_meeting': True     43940
  False     4348
  Name: public_meeting, dtype: int64},
 {'recorded_by': GeoData Consultants Ltd    48288
  Name: recorded_by, dtype: int64},
 {'scheme_management': VWC                 32344
  WUG                  4237
  Water authority      2913
  WUA                  2634
  Water Board          2488
  Parastatal           1294
  Company              1028
  Private operator      805
  Other                 376
  SWC                    97
  Trust                  71
  None                    1
  Name: scheme_management, dtype: int64},
 {'permit': True     33260
  False    15028
  Name: permit, dtype: int64},
 {'construction_year': 0       15815
  2008     2426
  2009     2306
  2010     2011
  2007     1423
  2006     1329
  2000     1252
  2003     1191
  2011     1032
  1978      997
  2004      987
  2002      954
  2005      879
  1999      877
  2012      836
  1998      789
  1995      782
  1985      767
  1984      710
  1982      695
  1972      679
  1974      621
  1990      615
  1994      595
  1980      581
  1996      571
  1992      512
  1988      491
  1997      476
  2001      476
  1993      463
  1983      457
  1975      402
  1986      391
  1976      367
  1970      297
  1989      293
  1991      278
  1987      268
  1981      217
  1973      183
  1979      161
  1977      153
  2013      134
  1971      128
  1963       83
  1967       80
  1968       57
  1969       55
  1960       39
  1962       27
  1964       27
  1961       20
  1965       17
  1966       16
  Name: construction_year, dtype: int64},
 {'extraction_type': gravity                      23036
  nira/tanira                   6260
  other                         4538
  submersible                   3645
  swn 80                        2858
  mono                          2382
  india mark ii                 2047
  afridev                       1346
  ksb                           1330
  other - rope pump              212
  other - swn 81                 199
  windmill                       104
  cemo                            89
  india mark iii                  87
  other - play pump               76
  walimi                          46
  climax                          32
  other - mkulima/shinyanga        1
  Name: extraction_type, dtype: int64},
 {'extraction_type_group': gravity            23036
  nira/tanira         6260
  submersible         4975
  other               4538
  swn 80              2858
  mono                2382
  india mark ii       2047
  afridev             1346
  other handpump       322
  rope pump            212
  other motorpump      121
  wind-powered         104
  india mark iii        87
  Name: extraction_type_group, dtype: int64},
 {'extraction_type_class': gravity         23036
  handpump        12920
  submersible      4975
  other            4538
  motorpump        2503
  rope pump         212
  wind-powered      104
  Name: extraction_type_class, dtype: int64},
 {'management': vwc                 33577
  wug                  4807
  water board          2665
  wua                  2288
  private operator     1479
  parastatal           1331
  water authority       790
  company               654
  other                 449
  other - school         99
  trust                  75
  unknown                74
  Name: management, dtype: int64},
 {'management_group': user-group    43337
  commercial     2998
  parastatal     1331
  other           548
  unknown          74
  Name: management_group, dtype: int64},
 {'payment': never pay                20690
  pay per bucket            7897
  pay monthly               7542
  unknown                   4172
  pay when scheme fails     3642
  pay annually              3417
  other                      928
  Name: payment, dtype: int64},
 {'payment_type': never pay     20690
  per bucket     7897
  monthly        7542
  unknown        4172
  on failure     3642
  annually       3417
  other           928
  Name: payment_type, dtype: int64},
 {'water_quality': soft                  42667
  salty                  3718
  unknown                 880
  coloured                320
  milky                   299
  salty abandoned         231
  fluoride                160
  fluoride abandoned       13
  Name: water_quality, dtype: int64},
 {'quality_group': good        42667
  salty        3949
  unknown       880
  colored       320
  milky         299
  fluoride      173
  Name: quality_group, dtype: int64},
 {'quantity': enough          28355
  insufficient    11799
  dry              4945
  seasonal         2899
  unknown           290
  Name: quantity, dtype: int64},
 {'quantity_group': enough          28355
  insufficient    11799
  dry              4945
  seasonal         2899
  unknown           290
  Name: quantity_group, dtype: int64},
 {'source': spring                  14852
  shallow well            12415
  machine dbh              8730
  river                    8506
  rainwater harvesting     1607
  hand dtw                  779
  lake                      604
  dam                       581
  other                     182
  unknown                    32
  Name: source, dtype: int64},
 {'source_type': spring                  14852
  shallow well            12415
  borehole                 9509
  river/lake               9110
  rainwater harvesting     1607
  dam                       581
  other                     214
  Name: source_type, dtype: int64},
 {'source_class': groundwater    36776
  surface        11298
  unknown          214
  Name: source_class, dtype: int64},
 {'waterpoint_type': communal standpipe             23837
  hand pump                      13602
  communal standpipe multiple     5459
  other                           4651
  improved spring                  651
  cattle trough                     82
  dam                                6
  Name: waterpoint_type, dtype: int64},
 {'waterpoint_type_group': communal standpipe    29296
  hand pump             13602
  other                  4651
  improved spring         651
  cattle trough            82
  dam                       6
  Name: waterpoint_type_group, dtype: int64},
 {'status_group': functional                 26517
  non functional             18273
  functional needs repair     3498
  Name: status_group, dtype: int64}]